@use "presets" as *;
@use "mixins" as *;


.container-fluid {
  width: 100%;
  padding-top: 45px;

  background-color: $color-dark;
}


.footer-top {
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;

    color: $color-gray-dark;

    &:hover {
      color: $color-gray-light;
    }
  }
}





.footer-fifth {
  margin: 20px 0;

  text-align: center;
  a {
    color: $color-gray;
  }
}

